/* General styles */
body {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
}

.logo {
  width: 150px;
  max-width: 30%;
}

/* Make images responsive */
img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 10px auto;
}

/* Input and select */
input[type="file"],
select,
button {
  margin: 10px auto;
  padding: 10px;
  font-size: 16px;
  display: block;
  width: 50%;
  max-width: 400px;
}

/* Download button inside the anchor tag */
#downloadLink button {
  margin-top: 10px;
  width: 50%;
  max-width: 400px;
}

/* Media query for smaller screens */
@media screen and (max-width: 600px) {
  h1 {
    font-size: 22px;
    padding: 0 10px;
  }

  .logo {
    width: 100px;
  }

  input[type="file"],
  select,
  button,
  #downloadLink button {
    width: 90%;
    font-size: 16px;
  }
}

